<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="text-center" style="padding-top: 15px; padding-bottom: 15px;">
        <h3>"Who are you?"</h3>
        <p>Heya! My name is James! Due to the variety of responsibilities in my current job, I've become an Information Technology Generalist with my hands in a little bit of many specializations.</p>
      </div>
      <div class="text-center" style="padding-top: 15px; padding-bottom: 15px;">
        <h3>"What's this site for?"</h3>
        <p>I'm ready to take the next step in my career! I've reached a comfortable level of income for my lifestyle, so my next step is less about financial concerns and more about finding work that fits my personal preferences and natural work style. This is just a quick static portfolio site to show off things I've worked on.</p>
      </div>
      <div class="text-center" style="padding-top: 15px; padding-bottom: 15px;">
        <h3>"What are you looking for in your career?"</h3>
        <p>More specifically, I've found that I'm consistently motivated to engage in creative problem solving through programming. Additionally, I'm looking for a remote job so that I can have a greater degree of control over my work enviornment.</p>
      </div>
    </div>
  </div>
</section>
