<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <!-- Professional Experience Section -->
      <div class="experience-section">
        <h2 class="experience-header">Professional Experience</h2>
        <table class="experience-table">
          <tr>
            <th>Project</th>
            <th>Skills</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Service Request Document Generator</td>
            <td>Google Apps Script, JavaScript, Zapier</td>
            <td>Automatically creates Documentation and Trello Cards from a Google Sheet Template. Service Requests are received from a separate system, which are scraped for data. This data is run through Zapier. Zapier sends a request to the Apps Script to generate the Document with provided data, then Zapier attaches it to a generated Trello Card. </td>
          </tr>
          <tr>
            <td>AutoHotkey - Mapping Assistant</td>
            <td>AutoHotkey</td>
            <td>Sped up data entry for our internal Software Mapping Department by copying entire submission documents, extracting relevant data with F1, then pasting it all in order with F2.</td>
          </tr>
          <tr>
            <td>Trello Auto Email</td>
            <td>Zapier, Python, Javascript</td>
            <td>Created Zapier Automation that, when Trello Cards are completed, automatically sends unique emails with specific Send Addresses to end users based on information in the card and its attached documents.</td>
          </tr>
        </table>
      </div>

      <!-- Personal Experience Section -->
      <div class="experience-section">
        <h2 class="experience-header">Personal Experience</h2>
        <table class="experience-table">
          <tr>
            <th>Project</th>
            <th>Skills</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Copy/Paste Storage</td>
            <td>AutoHotkey</td>
            <td>Created a script to store and quickly paste values.</td>
          </tr>
          <tr>
            <td>Approximate Clock</td>
            <td>.NET</td>
            <td>Designed a clock that displays rough time descriptions.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
