<!-- Header Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <h4 style="margin-top: 30px; margin-bottom: 40px;"> Here's a few projects I've worked on both Professionally and Personally!</h4>
        <p><a href="https://github.com/MothsinFlannel/CodeSamples">Click Here to see some Code Samples</a><br></p>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <!-- Professional Experience Section -->
      <div class="experience-section">
        <h2 class="experience-header">Professional Experience</h2>
        <table class="experience-table">
          <tr>
            <th>Project</th>
            <th>Skills</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Service Request Document Generator</td>
            <td>Google Apps Script, JavaScript, Zapier</td>
            <td>Automatically creates Documentation and Trello Cards from a Google Sheet Template. Service Requests are received from a separate system, which are scraped for data. This data is run through Zapier. Zapier sends a request to the Apps Script to generate the Document with provided data, then Zapier attaches it to a generated Trello Card. </td>
          </tr>
          <tr>
            <td>AutoHotkey - Mapping Assistant</td>
            <td>AutoHotkey</td>
            <td>Sped up data entry for our internal Software Mapping Department by copying entire submission documents, extracting relevant data with F1, then pasting it all in order with F2.</td>
          </tr>
          <tr>
            <td>Trello Auto Email</td>
            <td>Zapier, Python, Javascript</td>
            <td>Created Zapier Automation that, when Trello Cards are completed, automatically sends unique emails with specific Send Addresses to end users based on information in the card and its attached documents.</td>
          </tr>
          <tr>
            <td>Google Site Customer Portal</td>
            <td>Google Sites, Godaddy, Web Design</td>
            <td>Less technically impressive and more a display of resourcefulness. Needed a portal made in only three days for customers to sign up and request features from our new software package. Had to recreate a tweaked version of our existing infrastructure for this unique software package.</td>
          </tr>
          <tr>
            <td>Misc Database Management</td>
            <td>PostgreSQL, MSSQL</td>
            <td>Random projects where I've had to do small tasks ranging from adding new columns in our internal website's database to adjusting local data directly in on-site software.</td>
          </tr>
          <tr>
            <td>Internal Website - Adjustments and Additions</td>
            <td>Javascript, HTML, CSS, Vue.js, Nuxt.js, php, Directus CMS</td>
            <td>Made adjustments to our internal website. Some of these changes include...
              <ul>
                <li>Adding new display data in Frontend for Billing Department</li>
                <li>Adjusting Email Content from Backend Mail Service</li>
                <li>Integrating Directus CMS</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Wordpress Website Creation and SEO (old)</td>
            <td>Wordpress, HTML, CSS</td>
            <td>Built websites for clients while using Yoast SEO to improve their search ranking in Google and Bing search results.</td>
          </tr>
        </table>
      </div>

      <!-- Personal Experience Section -->
      <div class="experience-section">
        <h2 class="experience-header">Personal Experience</h2>
        <table class="experience-table">
          <tr>
            <th>Project</th>
            <th>Skills</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Godot and Unity Game Engine</td>
            <td>C#, GDScript, JSON</td>
            <td>Built very minimal platformer with doublejumping, walljumping, and drop-through platforms. Additionally have created top-down style game prototypes, but only got far enough to have different floor materials with unique physics and a dash/roll feature.</td>
          </tr>
          <tr>
            <td>Approximate Time Clock</td>
            <td>Microsoft Visual Studio, Windows Forms, .NET, C#</td>
            <td>Created an always-on-top, clickthrough window that sits at the bottom-right of the screen. This was made as a productivity test. I wanted to see the effects of having time blocked out into phrases like "Morning, Lunch, Afternoon, Evening (Free Time), etc" instead of looking at specific times on the clock.</td>
          </tr>
          <tr>
            <td>Pokemon Type Matchups Calculator</td>
            <td>Python, pandas, matplotlib, JSON</td>
            <td>To monitor balance while designing a Pokemon-style fangame with new Types, I decided to create two programs. One was a data-visualization graph that showed all Type Matchups in one graph (types were tracked in a JSON file with Strengths/Weaknesses). The other program was a command-line interface that lets you input two Types and see their Matchup Spread of Strengths/Weaknesses based on that Type Combination.</td>
          </tr>
          <tr>
            <td>Planka Website</td>
            <td>Amazon AWS, Cloudflare</td>
            <td>Used a Trello-alternative called "Planka" to spin up my own personal website. I use this site currently to track personal projects, responsibilities, job applications, and work tasks.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
